<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>Header 1</h1>
        <h2>Header 2</h2>
        <h3>Header 3</h3>
        <h4>Header 4</h4>
        <h5>Header 5</h5>
        <h5>Header 6</h5>
        <p>Paragraph</p>
        <b>Bold</b>
        <i>Italic</i>
        <br>
        <code>code;</code>
    </div>
</body>
</html>